  /* Sign up */

  body, html{
    padding: 0;
    margin: 0;
    background: whitesmoke;
}
 

#bg{
  background: whitesmoke;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#logo {
  width: 100px;
  height: 50px;
}
  #signupForm{
    margin: 180px 30px;
    padding: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
  }

  #signupForm input{
   background: var(--unnamed-color-edf9f8) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-11bcb8);
    background: #EDF9F8 0% 0% no-repeat padding-box;
    border: 2px solid #11BCB8;
    border-radius: 10px;
    opacity: 1;
    font: Regular 14px/16px var(--unnamed-font-family-arial);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-01615f);
    text-align: left;
    font: Regular 14px/16px Arial;
    letter-spacing: 0px;
    color: #01615F;
    opacity: 1;
    
  }

  #signupForm label {
    font: Bold 14px/16px var(--unnamed-font-family-arial);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-01615f);
    text-align: left;
    font: Bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #01615F;
    opacity: 1;
}

#signupForm .btn-success {
  background: var(--unnamed-color-11bcb8) 0% 0% no-repeat padding-box;
  background: #11BCB8 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}

  #signupTitle{
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-11bcb8);
    letter-spacing: 0px;
    color: #11BCB8;
    opacity: 1;
  }


@media only screen and (min-width: 768px) {

    #signupForm{
      margin: 45px 400px 0;
      width: 500px;
      height: fit-content;
        }
        
  }
