  /* Sign up */

  body{
    padding: 0;
    margin: 0;
    background: whitesmoke;
}
 

#bg{
  background: whitesmoke;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
  #signupForm{
    margin: 95px 30px;
    border: rgb(170, 236, 161) solid;
    /* rgb(235, 235, 235) */
    border-radius: 10px;
    padding: 50px;
    background: white;
    
  }

  #signupTitle{
    text-align: center;
    margin-bottom: 20px;
  }


@media only screen and (min-width: 768px) {

    #signupForm{
      margin: 45px 300px 0;
      width: 500px;
      height: fit-content;
        }
        
  }
