body, html {
    height: 100%;
}

/*...ICONS...*/

#userIcon {
    font-size: xx-large;
}

.fa-ellipsis-v{
    font-size: 1.3rem;
    margin-left: 3px;
}

#friendIcon {
    font-size: 2.5rem;
}

.settingsIcon {
    font-size: large;
}

.fa-angle-down {
    font-size: x-large;
}


.fa-comment-alt, .fa-address-book{
    font-size: 1.3rem;
    cursor: pointer;
}

/*...NAVS...*/
.left-column{
    height: 657px;
}

.container {
    height: 100%;
}

.justify-content-start {
    height: 100%;
}

.navs nav {
    background: var(--unnamed-color-11bcb8) 0% 0% no-repeat padding-box;
    background: #11BCB8 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nav-options{
    margin-top: 2px;
   list-style: none;
}

.nav-options li{
    margin-right: 10px;
}


nav #userName {
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-edf9f8);
    text-align: left;
    font: Bold 19px/26px Arial;
    letter-spacing: 0px;
    color: #EDF9F8;
    opacity: 1;
}

.navs .row {
    margin: 0;
    padding: 0;
}

.navs .row {
    margin: 0 -120px;
}

.btn-circle {
    width: 30px;
    height: 33px;
    text-align: center;
    padding: 2px;
    border-radius: 15px;
}

.navs-dropMenu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0px);
    transition: .3s ease all;
}

.navs-dropMenu.show {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateY(10px);
    transition: .3s ease all;
}

.btn-circle:focus {
    background: #14c5c2;
    box-shadow: 0 0 0 0.2rem #11BCB8;
}

/*...SERACH FORM...*/

.chats-container .search-form {
    width: 300px;
    margin: auto;
    padding: 5px 0 0 0;
}

.chats-container #searchInput {
    border-radius: 8px;
}

hr {
    height: 1px;
    background-color: #dfe7ec;
}

/*...CONTACTS...*/

.col-md-4 .chats-container {
    background: var(--unnamed-color-edf9f8) 0% 0% no-repeat padding-box;
    background: #EDF9F8 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 88%;
    margin-bottom: 0;
}

.chat-container .row {
    margin: 0;
    padding: 0;
}

.chats-container  .chats {
    overflow: scroll;
    height: 81%;
    scroll-behavior: smooth;
    list-style: none;
}

.chats-container  .chats .chat {
    cursor: pointer;
}

.chats-container  .chats::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.chats-container  .chats::-webkit-scrollbar-thumb {
    background: #dadcdd;
    border-radius: 10px;
}

.chatts-container  .chats::-webkit-scrollbar-thumb:hover {
    background: #cecfcf;
}

.chat {
    margin: 15px 0 0 0;
}

 .chat-container {
    border-radius: 10px;
    width: 310px;
    height: 50px;
    background: #ffffff;
    padding: 18px 10px 70px;
}

.chat .dropdown-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(0px);
    transition: .3s ease all;
}

.chat .dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(10px);
    transition: .3s ease all;
}

/*...CHAT...*/

#conversation{
    height: 656.5px;
}

.conver-nav .row {
    margin: 0;
    padding: 0;
}

.conver-container {
    height: 81.4%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background: var(--unnamed-color-edf9f8) 0% 0% no-repeat padding-box;
    background: #EDF9F8 0% 0% no-repeat padding-box;
    opacity: 1;
}

.conver-container .message {
    height: fit-content;
    width: 325px;
    padding: 10px;
    border-radius: 5px;
    margin: 25px 10px;
}

.conver-container .left {
    background: #ffffff;
}

.conver-container .right {
    margin-left: 61%;
    background: #b2f0ca;
}

.input-send{
    margin: 0;
}

.conver-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.conver-container::-webkit-scrollbar-thumb {
    background: #dadcdd;
    border-radius: 10px;
}

.conver-container::-webkit-scrollbar-thumb:hover {
    background: #cecfcf;
}

.default-bg {
    height: 100%;
    width: 100%;
    background: var(--unnamed-color-edf9f8) 0% 0% no-repeat padding-box;
    background: #EDF9F8 0% 0% no-repeat padding-box;
    opacity: 1;
}

/* ...PROFILE... */

.rounded-circle {
    height: 50px;
    width: 50px;
}

.user-information {
    margin: 10px 0 0 0;
}

.information-modal .modal-content {
    margin: 0px 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}

.information-modal .modal-content img {
    cursor: pointer;
    top: 164px;
    left: 790px;
    width: 179px;
    height: 179px;
    opacity: 1;
}

.information-modal .modal-content .form-group input {
    background: var(--unnamed-color-edf9f8) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-11bcb8);
    background: #EDF9F8 0% 0% no-repeat padding-box;
    border: 2px solid #11BCB8;
    border-radius: 10px;
    opacity: 1;
}

.information-modal .modal-content .form-group textarea {
    background: var(--unnamed-color-edf9f8) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-11bcb8);
    background: #EDF9F8 0% 0% no-repeat padding-box;
    border: 2px solid #11BCB8;
    border-radius: 10px;
    opacity: 1;
}

.information-modal .modal-content .form-group input:disabled {
    background: #c8eae8;
}

.information-modal .modal-content .form-group textarea:disabled {
    background: #c8eae8;
}

.information-modal .modal-content .form-group label {
    height: 16px;
    font: Bold 14px/16px var(--unnamed-font-family-arial);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-01615f);
    text-align: left;
    font: Bold 14px/16px Arial;
    letter-spacing: 0px;
    color: #01615F;
    opacity: 1;
}

.close {
    position: absolute;
    margin: 20px 320px;
    z-index: 1;
}

.custom-file-label {
    height: 40px;
    background: var(--unnamed-color-edf9f8) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-11bcb8);
    background: #EDF9F8 0% 0% no-repeat padding-box;
    border: 2px solid #11BCB8;
}

.btn-file {
    height: 40px;
}

.btn-success {
    background: #11BCB8 0% 0%;
    border: none;
}

.btn-success:disabled {
    background: #11bcb9d8 0% 0%;
}

.btn-success:hover {
    background: #0c8583d8 0% 0%;
}

.btn-success:focus {
    background: #11BCB8 0% 0%;
}

.btn-success::selection {
    background: #11BCB8 0% 0%;
}